.button-thumb {
  position: fixed;
  bottom: 20px;
  right: 30px;

  visibility: hidden;
}

.button-up {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;

  background-color: rgb(146, 7, 14);

  width: 80px;
  height: 80px;
  border-radius: 50%;

  outline: none;
  border: none;
}
