.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.container-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// .card__container,
// .card__container--library {
.home__container,
.library__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: flex-start;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 30px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}
