.film_info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  // height: 48px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  overflow: hidden;
  // white-space: nowrap;
}

.film_poster {
  width: 280px;
  height: 402px;
  margin: 0;
  border-radius: 5px;
  object-fit: cover;

  display: block;
  max-width: 100%;
  min-height: 100%;

  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  // transition: transform 250ms linear;

  &:hover,
  &:focus {
    // transform: scale(1.03);
    transform: scale(1.15);
  }
  @media screen and(min-width: 768px) {
    width: 336px;
    height: 495px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    // height: 634px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .film_info {
    line-height: 16px;
  }

  // .film_poster {
  //   width: 336px;
  //   height: 455px;
  // }
}

@media screen and (min-width: 1280px) {
  .film_info {
    font-size: 20px;
    line-height: 24px;
    height: auto;
  }

  // .film_poster {
  //   width: 394px;
  //   height: 574px;
  // }
}
.film_name {
  text-transform: uppercase;
  height: auto;
  // white-space: nowrap;
  width: 100%;
  overflow: hidden;
  color: #fff;
}
.film_genre {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  color: #b92f2c;
}

.img__wrapper {
  // width: 280px;
  // height: 402px;
  overflow: hidden;
  margin: 0;
  border-radius: 5px;
  @media screen and(min-width: 768px) {
    // width: 336px;
    // height: 495px;
  }
  @media screen and (min-width: 1280px) {
    // width: 394px;
    // height: 574px;
  }
}

.film_card {
  width: 280px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  // transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
  //   box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover,
  // &:focus {
  //   transform: scale(1.03);
  //   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  // }

  @media screen and(min-width: 768px) {
    width: 336px;
    height: 495px;
    flex-basis: calc((100% - 30px) / 2);
    gap: 8px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 634px;
    flex-basis: calc((100% - 30px * 2) / 3);
    gap: 12px;
  }
}
