.footer {
background-color: #F7F7F7;
}

.footer-conteiner {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 767px) {
        max-width: 320px;
        padding: 28px 42px;
        height: 100px;
    }

    @media screen and (min-width: 768px) {
        // padding: 30px 143px;
        // width: 768px;
        height: 79px;
    }

    @media screen and (min-width: 1280px) {

        // width: 1280px;
        height: 77px;
    }
}

.footer-conteiner__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: flex;

    color: #545454;
    margin: 0;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.18;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.18;
    }
}

.svg-icon-favorite {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;

}

.footer-conteiner__link {
    display: flex;
}

.footer-conteiner__text-decor {
    text-decoration: underline;
}

.footer-conteiner__text-margin {
    margin-right: 4px;
}