.modal_footer__backdrop {
  position: fixed;
  
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal_footer__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal_footer {
    
  position: absolute;
  padding: 25px;
  width: 300px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms;

  @media screen and (min-width: 768px) {
    width: 515px;
  }

  @media screen and (min-width: 1280px) {
    width: 964px;
  }
}

.modal_footer__backdrop.isl-hidden .modal {
  transform: translate(-50%, -75%);
}

.modal_footer__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  top: 8px;
  right: 8px;
  cursor: pointer;

  border-radius: 50%;
  background: #ffffff;
}

.modal_footer__close-btn-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_footer__close-btn:hover .modal_footer__close-btn-icon,
.modal_footer__close-btn:focus .modal_footer__close-btn-icon {
  fill: rgb(185, 24, 24);
}

// .modal_footer__label{
// display: inline-block;
// width: 150px;
// height: 120px;
// background-color: rgb(228, 218, 218);
// background-image: url(../images/shot.png);
// background-size: cover;
// }

.modal_footer__text {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    color: #141414;
    // font-size: 18px;
    // line-height: 1.18;
    // letter-spacing: 0.03em;
}

// .modal_footer__group {
//     display: flex;
//     gap: 10px;
// }

// початок стилів

.modal_footer__container {
  margin: 0 auto;
}

.modal_footer__team--img {

background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;

@media screen and (max-width: 767px) {
height: 220px;
}
  @media screen and (min-width: 768px) {
    // width: 352px;
    height: 210px;
  }

  @media screen and (min-width: 1280px) {
    // width: 270px;
    height: 200px;
  }
}

.ihor-kiy {
    background-image: url("../images/team/ihor-kiy.jpg");
    background-position: 100% 0%;
}
.ihor-sapishchuk {
    background-image: url("../images/team/Ihor-Sapishchuk.jpg");
}
.olena-pestova {
    background-image: url("../images/team/olena-pestova.jpg");
}

.modal_footer__team-list {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
    width: 250px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 220px;
    // &:nth-child(-n+2) {
    //     // margin-bottom: 20px;
    // }

    &:nth-child(even) {
      margin-right: 0px;
    }

    // &:nth-child(3) {
    //     // margin-bottom: 0;
    // }
  }

  @media screen and (min-width: 1280px) {
    width: 210px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
    &:nth-child(n + 13) {
      margin-bottom: 0;
    }
  }
}

.modal_footer__team-container {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.modal_footer__team-container-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #4e4b4b;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.modal_footer__team-container-position {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        color: #767070;
        font-size: 18px;
        line-height: 1.18;
        letter-spacing: 0.03em;
}

.modal_footer__social-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.modal_footer__social-list--item {
  width: 35px;
  height: 35px;
  background-position: center;
  overflow: hidden;
  border-radius: 50%;
}

.modal_footer__social-list--link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 50%;
  }
}

.modal_footer__social-list--icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
