.modal_footer__text {

  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  color: #4e4b4b;
}

.modal_footer__container {
  margin: 0 auto;
}

.modal_footer__team {
  padding-bottom: 10px;
}

.modal_footer__team--img {

  background-image: url("../images/team/img-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @media screen and (max-width: 767px) {
    height: 220px;
  }

  @media screen and (min-width: 768px) {

    height: 210px;
  }

  @media screen and (min-width: 1280px) {

    height: 200px;
  }
}

//Команда
// 1
.ihor-kiy {
  background-image: url("../images/team/ihor-kiy.jpg");
  background-position: 100% 0%;

}

//2
.ihor-sapishchuk {
  background-image: url("../images/team/ihor-sapishchuk.jpg");
}

//3
.olena-pestova {
  background-image: url("../images/team/olena-pestova.jpg");
}

//4
.timofey-shtyrba {
  background-image: url("../images/team/timofey-shtyrba.jpg");
  background-size: 150%;
}

//5
.zhenia-klimenchuk {
  background-image: url("../images/team/zhenia-klimenchuk.jpg");
  background-size: 155%;
  background-position: 60% 40%;
}

//6
.denis-chebotarov {
  background-image: url("../images/team/denis-chebotarov.jpg");
}

//7
.olga-dames {
  background-image: url("../images/team/olga-dames.jpg");
}

//8
.oleksandr-kivalo {
  background-image: url("../images/team/oleksandr-kivalo.jpg");
}

//9
.alexander-kravets {
  background-image: url("../images/team/alexander-kravets.jpg");
  background-position: 100% 0%;
  background-size: 135%;
  background-position-x: center;
}

//10
.yurii-okhvatenko {
  background-image: url("../images/team/yurii-okhvatenko.jpeg");
  background-position: 100% 0%;
}
//11
.kostiantyn-tymoshenko {
  background-image: url("../images/team/kostiantyn-tymoshenko.jpg");
  background-position: 100% 0%;
}
//12


//13
.alexandr-gulinsky {
  background-image: url("../images/team/alexandr-gulinsky.jpg");
  background-position: 100% 0%;
}

//Команда

.modal_footer__team-list {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 15px;
  margin-bottom: 15px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
    width: 250px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 220px;

    &:nth-child(even) {
      margin-right: 0px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 210px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(n + 13) {
      margin-bottom: 0;
    }
  }
}

.modal_footer__team-container {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.modal_footer__team-container-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  color: #4e4b4b;
  font-size: 18px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.modal_footer__team-container-position {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #767070;
  font-size: 18px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.modal_footer__social-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.modal_footer__social-list--item {
  width: 35px;
  height: 35px;
  background-position: center;
  overflow: hidden;
  border-radius: 50%;
}

.modal_footer__social-list--link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 50%;
  }
}

.modal_footer__social-list--icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.over {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}

.footer2-modal {
  overflow: auto;
  padding: 25px;
  width: 300px;
  height: 550px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms;

  @media screen and (min-width: 768px) {
    width: 510px;
    height: 700px;
  }

  @media screen and (min-width: 1280px) {
    width: 949px;
    height: 650px;
  }

  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.footer2-modal.active-footer,
.over.active-footer {
  opacity: 1;
  visibility: visible;
}

.modal__cross-footer {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  fill: #444;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    width: 13px;
    height: 13px;
    top: 13px;
    left: 13px;
  }

}

.modal__cross-footer:hover {
  fill: #f2280d;
}

