.overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  opacity: 0;
  visibility: hidden;
  background-color: white;
  outline: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48 20 48 20;
  width: calc(100% - 40px);
  @media screen and (min-width: 440px) {
    width: 400px;
  }
  @media screen and (min-width: 768px) {
    padding: 40 72 64 36;
    display: flex;
    width: 704px;
    height: 552px;
  }
  @media screen and (min-width: 1200px) {
    width: 806px;
    height: 558px;
    padding: 40 12 40 12;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__poster-box {
  width: calc(100%);
  height: 357px;
  border-radius: 5px;
  background-color: tomato;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    margin-right: 68px;
    width: 264px;
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 16px;
    width: 375px;
    height: 478px;
  }
}

.modal__film-descr {
  width: calc(100%);
  margin: 0 auto;
  padding-top: 20px;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    padding: 0;
    width: 264px;
  }
  @media screen and (min-width: 1200px) {
    width: 391px;
  }
}

.modal__film-name {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.modal__film-info-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.modal__film-info-item {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
  }
}

.madal__film-info {
  display: block;
  margin: 0;
  text-align: left;
  color: #8c8c8c;
  width: 71px;
  margin-right: 40px;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {

  }
}

.modal__film-info-value {
  display: block;
  margin: 0;
  text-align: center;
  color: #000000;

  &--color {
    background: #b92f2c;
    color: #ffffff;
    border-radius: 5px;
    padding: 1 10 1 10;
  }
}

.modal__film-about {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.modal__film-plot {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.modal__film-btn-List {
  display: flex;
  margin: 0 auto;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}

.modal__film-btn-item {
  &:first-child {
    margin-right: 4px;
  }
}
.modal__film-btn {
  padding: 10 12 10 12;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  background-color: #b92f2c;
  .modal__film-btn-item:last-child & {
    color: #b92f2c;
    background-color: transparent;
    border: 1px solid #000000;
    padding: 10 14 10 14;
  }
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    padding: 12 18 12 18;
  }
  @media screen and (min-width: 1200px) {
    padding: 14 32 14 32;
    .modal__film-btn-item:last-child & {
      padding: 14 24 14 24;
    }
  }
}
