<footer class="footer">
    <div class="footer-conteiner">

        <p class="footer-conteiner__text footer-conteiner__text-margin">© 2023 | All Rights Reserved |</p>
        <p class="footer-conteiner__text ">Developed with</p>
        <svg class="svg-icon-favorite" width="14" height="13">
            <use href="/src/images/symbol-defs.svg#icon-favorite"></use>
        </svg>
        <div class="footer-conteiner__link">
            <span class="footer-conteiner__text footer-conteiner__text-margin">by</span>
            <p class="footer-conteiner__text footer-conteiner__text-decor" href="" data-modal-open>GoIT Students</p>
        </div>

    </div>
</footer>
