
<!-- modalka 2 -->
<div class="footer2-modal" data-modal="1">
  <svg class="modal__cross-footer  footer-js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
  </svg>
 <div>
<p class="modal_footer__text">Команда "TARANTINO"</p>
<p class="modal_footer__text">Над проектом працювали</p>

<div class="modal_footer__container">
  <ul class="modal_footer__team">
    <!-- 1 -->
    <li class="modal_footer__team-list">
      <div class="modal_footer__team--img ihor-kiy">

      </div>
      <div class="modal_footer__team-container">
        <h4 class="modal_footer__team-container-name">Ihor Kiy</h4>
        <p class="modal_footer__team-container-position">Team Lead</p>
        <ul class="modal_footer__social-list">
          <li class="modal_footer__social-list--item">
            <a class="modal_footer__social-list--link" href="mailto:kiyanichenko@gukr.net">
              <svg class="modal_footer__social-list--icon">
                <use href="./images/symbol-defs.svg#icon-imall"></use>
              </svg>
            </a>
          </li>
          <li class="modal_footer__social-list--item">
            <a class="modal_footer__social-list--link" href="https://t.me/+380980584978">
              <svg class="modal_footer__social-list--icon">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="modal_footer__social-list--item">
            <a class="modal_footer__social-list--link" href="https://www.linkedin.com/in/igor-kyianichenko-72a2379b/">
              <svg class="modal_footer__social-list--icon">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="modal_footer__social-list--item">
            <a class="modal_footer__social-list--link" href="https://github.com/IhorKiy">
              <svg class="modal_footer__social-list--icon">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      </li>
      <!-- 2 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img ihor-sapishchuk">
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Ihor Sapishchuk</h4>
          <p class="modal_footer__team-container-position">Scrum Master</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="mailto:sapishchuk.igor@gmail.com">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://t.me/+380988808832">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://www.linkedin.com/in/ihor7s">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://github.com/Ihor7s">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </li>
      <!-- 3 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img olena-pestova">
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Olena Pestova</h4>
          <p class="modal_footer__team-container-position">JS</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
      
          </ul>
        </div>
      
      
      </li>
      <!-- 4 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img timofey-shtyrba">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Timofey Shtyrba</h4>
          <p class="modal_footer__team-container-position">JS</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="mailto:shtyrba.timofey@gmail.com">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://t.me/yourTimofey">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://www.linkedin.com/in/timofey-shtyrba">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://github.com/Tymofii-Shtyrba">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- 5 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img zhenia-klimenchuk">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Yevhenii Klymenchuk</h4>
          <p class="modal_footer__team-container-position">JS</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="mailto:zhenia.klimenchuk@gmail.com">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://t.me/do2do">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://www.linkedin.com">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://github.com/YAlorenzo">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
      
          </ul>
        </div>
      
      
      </li>
      <!-- 6 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Denys Chebotarov</h4>
          <p class="modal_footer__team-container-position">JS</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="mailto:denis.chebotarov@ukr.net">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://t.me/+380630581481">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://www.linkedin.com/in/denys-chebotarov-41a198272?trk=contact-info">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://github.com/DenysChebotarov">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
      
          </ul>
        </div>
      
      
      </li>
      <!-- 7 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Olga Dames</h4>
          <p class="modal_footer__team-container-position">JS</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="mailto:dizraelly020187@gmail.com">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://t.me/+380504150687">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://www.linkedin.com/in/olga-dames/">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://github.com/Olga-Dames">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
      
          </ul>
        </div>
      
      
      </li>
      <!-- 8 --> 
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Oleksandr Kivalo</h4>
          <p class="modal_footer__team-container-position">JS</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="mailto:Sanyakila@gmail.com">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://t.me/+380661485952">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://www.linkedin.com/in/oleksandr-kivalo">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://github.com/Sanyakila">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
      
          </ul>
        </div>
      
      
      </li>
      <!-- 9 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Alexander Kravets</h4>
          <p class="modal_footer__team-container-position">JS</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="mailto:skrav@ukr.net ">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://t.me/+380989794777 ">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="https://www.linkedin.com/">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>  
              </a>
            </li>
            <li class="modal_footer__social-list--item"> 
              <a class="modal_footer__social-list--link" href="https://github.com/Kravets81">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- 10 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Name 10</h4>
          <p class="modal_footer__team-container-position">задачу виконував</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- 11 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Name 11</h4>
          <p class="modal_footer__team-container-position">задачу виконував</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- 12 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Name 12</h4>
          <p class="modal_footer__team-container-position">задачу виконував</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
      
          </ul>
        </div>
      
      
      </li>
      <!-- 13 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Name 13</h4>
          <p class="modal_footer__team-container-position">задачу виконував</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
      
          </ul>
        </div>
      
      
      </li>
      <!-- 14 -->
      <li class="modal_footer__team-list">
        <div class="modal_footer__team--img">
      
        </div>
        <div class="modal_footer__team-container">
          <h4 class="modal_footer__team-container-name">Name 14</h4>
          <p class="modal_footer__team-container-position">задачу виконував</p>
          <ul class="modal_footer__social-list">
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-imall"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="modal_footer__social-list--item">
              <a class="modal_footer__social-list--link" href="">
                <svg class="modal_footer__social-list--icon">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
      
          </ul>
        </div>
      
      
      </li>
  </ul>
</div>
 </div>

</div>

<div class="over footer-js-overlay-modal"></div> 


          <!-- </div>
        </div>
          </div>
        </div>  -->