<div class="modal_footer__backdrop is-hidden" data-modal>
  <div class="modal_footer">
    <button class="modal_footer__close-btn" type="button" data-modal-close>
      <svg class="modal_footer__close-btn-icon" width="32" height="32">
        <use href="./images/symbol-defs.svg#icon-modal-cross"></use>
      </svg>
    </button>
    <p class="modal_footer__text">Команда "TARANTINO"</p>
    <p class="modal_footer__text">Над проектом працювали</p>
    
    <div class="modal_footer__container">
      <ul class="modal_footer__team">
        <!-- 1 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img ihor-kiy">

          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Ihor Kiy</h4>
            <p class="modal_footer__team-container-position">Team Lead</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          
        </li>
        <!-- 2 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img ihor-sapishchuk">
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Ihor Sapishchuk</h4>
            <p class="modal_footer__team-container-position">Scrum Master</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 3 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img olena-pestova">

          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Olena Pestova</h4>
            <p class="modal_footer__team-container-position">JS</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div> 
        
        
        </li>
        <!-- 4 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            <!-- <img
                      class="modal_footer__team--img"
                      alt="Ihor Sapishchuk"
                        loading="lazy"  
                        src="../images/shot.png" alt=""> -->
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 4</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 5 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">

          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 5</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 6 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 6</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li> 
        <!-- 7 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 7</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li> 
        <!-- 8 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 8</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 9 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 9</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 10 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 10</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 11 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 11</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 12 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 12</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 13 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
           
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 13</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
        <!-- 14 -->
        <li class="modal_footer__team-list">
          <div class="modal_footer__team--img">
            
          </div>
          <div class="modal_footer__team-container">
            <h4 class="modal_footer__team-container-name">Name 14</h4>
            <p class="modal_footer__team-container-position">задачу виконував</p>
            <ul class="modal_footer__social-list">
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-imall"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="modal_footer__social-list--item">
                <a class="modal_footer__social-list--link" href="">
                  <svg class="modal_footer__social-list--icon">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
        
            </ul>
          </div>
        
        
        </li>
      
      </ul>
    </div>
      
    </div>
  </div>
</div>
