<div class="overlay">
  <div class="modal"></div>
</div>

<!-- <div class="modal__poster-box">
  <img src="" alt="" class="modal__poster" />
</div>
<div class="modal__film-descr">
  <h2 class="modal__film-name">A FISTFUL OF LEAD</h2>
  <ul class="modal__film-info-list">
    <li class="modal__film-info-item">
      <p class="madal__film-info">Vote / Votes</p>
      <p class="modal__film-info-value">
        <span class="modal__film-info-value--color">7.3</span> / 1260
      </p>
    </li>
    <li class="modal__film-info-item">
      <p class="madal__film-info">Popularity</p>
      <p class="modal__film-info-value">100.2</p>
    </li>
    <li class="modal__film-info-item">
      <p class="madal__film-info">Original Title</p>
      <p class="modal__film-info-value">A FISTFUL OF LEAD</p>
    </li>
    <li class="modal__film-info-item">
      <p class="madal__film-info">Genre</p>
      <p class="modal__film-info-value">Western</p>
    </li>
  </ul>
  <h3 class="modal__film-about">ABOUT</h3>
  <p class="modal__film-plot">
    Four of the West’s most infamous outlaws assemble to steal a huge stash
    of gold from the most corrupt settlement of the gold rush towns. But not
    all goes to plan one is killed and the other three escapes with bags of
    gold hide out in the abandoned gold mine where they happen across
    another gang of three – who themselves were planning to hit the very
    same bank! As tensions rise, things go from bad to worse as they realise
    the bags of gold are filled with lead... they’ve been double crossed –
    but by who and how?
  </p>
  <ul class="modal__film-btn-List">
    <li class="modal__film-btn-item">
      <button class="modal__film-btn">ADD TO WATCHED</button>
    </li>
    <li class="modal__film-btn-item">
      <button class="modal__film-btn">ADD TO QUEUE</button>
    </li>
  </ul>
</div> -->

<!-- <div>
  <button class="button-close btn js-modal-close">
    <svg class="icon-cross" width="20" height="20">
      <use href="./images/symbol-defs.svg#icon-modal-cross"></use>
    </svg>
  </button>
</div> -->
