<div class="modal_footer__backdrop is-hidden" data-modal>
  <div class="modal_footer">
    <button class="modal_footer__close-btn" type="button" data-modal-close>
      <svg class="modal_footer__close-btn-icon" width="32" height="32">
        <use href="./images/symbol-defs.svg#icon-modal-cross"></use>
      </svg>
    </button>
    <p class="modal_footer__text">Залиште свої дані, ми вам передзвонимо</p>

    <div class="modal_footer__group">
      <form>
        <label><span class="modal_footer__label">Ім'я 1</span></label>
        <label><span class="modal_footer__label">Ім'я 1</span></label>
        <label><span class="modal_footer__label">Ім'я 1</span></label>
      </form>
    </div>
  </div>
</div>
