<div class="modalForFooter__backdrop is-hidden " data-modal>
   <div class="modal_ftr">
    <button class="close-btn" type="button" data-modal-close>
      <svg class="close-btn-icon" width="32" height="32">
        
        <use href="./images/symbol-defs.svg#icon-modal-cross"></use>
      </svg>
    </button>
    <p class="modal-form-text">Залиште свої дані, ми вам передзвонимо</p>

    <div class="forms-group">
      <span class="form-label">Ім'я 1</span>
      <span class="form-label">Ім'я 2</span>
      <span class="form-label">Ім'я 3</span>
      <span class="form-label">Ім'я 4</span>
      <span class="form-label">Ім'я 5</span>
      <span class="form-label">Ім'я 6</span>
      <span class="form-label">Ім'я 7</span>
      <span class="form-label">Ім'я 8</span>
      <span class="form-label">Ім'я 9</span>
      <span class="form-label">Ім'я 10</span>
      <span class="form-label">Ім'я 11</span>
      <span class="form-label">Ім'я 12</span>
      <span class="form-label">Ім'я 13</span>
      <span class="form-label">Ім'я 14</span>
    </div>
  </div>
</div>
